{%- comment -%}
Those are the option names for which we automatically detect swatch. For the color, we use them to display a swatch, while
for size, we use it to display a size chart (if applicable)
{%- endcomment -%}

{%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' | split: ',' -%}
{%- assign size_label = 'size,taille,größe,tamanho,tamaño,koko,サイズ' | split: ',' -%}

{%- assign size_chart_page = '' -%}
{%- assign product_popovers = '' -%}

{%- assign selected_variant = product.selected_or_first_available_variant -%}

{%- form 'product', product, class: 'ProductForm' -%}
  <div class="ProductForm__Details hidden-pocket-and-up">
    <h4 class="Heading ProductForm__Title Product__InfoItemHeader">{{- product.title -}}</h4>
    <div class="ProductForm__Price">
      {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
         <div data-money-convertible class="Price--compareAt">{{ selected_variant.compare_at_price | money_without_trailing_zeros }}</div>
         <div data-money-convertible class="Price--discounted">{{ selected_variant.price | money_without_trailing_zeros }}</div>
       {%- else -%}
          <span data-money-convertible>{{ selected_variant.price | money_without_trailing_zeros }}</span>
       {%- endif -%}
    </div>
  </div>
  <div class="ProductForm__Variants">
      {%include 'color-link'%}
    {%- unless product.has_only_default_variant -%}
      {%- for option in product.options_with_values -%}
        {%- assign downcase_option = option.name | downcase -%}
        {%- capture popover_id -%}popover-{{ product.id }}-{{ section.id }}-{{ option.name | handle }}{%- endcapture -%}

        {%comment%}
        COMMENTED OUT AS PER OAKIFY-24
        {%- if section.settings.show_color_swatch and color_label contains downcase_option -%}
          {%- assign is_option_with_color_swatch = true -%}
        {%- else -%}
          {%- assign is_option_with_color_swatch = false -%}
        {%- endif -%}
        {%endcomment%}
        {%- assign is_option_with_color_swatch = false -%}

        {%- capture popover_html -%}
            {%- if color_label contains downcase_option and section.settings.show_color_carousel -%}
              {%- for value in option.values -%}
                {%- if value == option.selected_value -%}
                  {%- assign initial_image_index = forloop.index0 -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}

              {%- capture flickity_options -%}
              {
                "prevNextButtons": true,
                "pageDots": true,
                "initialIndex": {{ initial_image_index }},
                "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
              }
              {%- endcapture -%}

              <div id="{{ popover_id }}" class="VariantSelector" aria-hidden="true">
                {%- capture option_index -%}option{{ option.position }}{%- endcapture -%}

                <div class="VariantSelector__Carousel Carousel" data-flickity-config='{{ flickity_options }}'>
                  {%- for value in option.values -%}
                    {%- for variant in product.variants -%}
                      {%- if variant[option_index] == value -%}
                        {%- assign variant_image = variant.image | default: product.featured_image -%}
                        {%- break -%}
                      {%- endif -%}
                    {%- endfor -%}

                    <div class="VariantSelector__Item Carousel__Cell {% if value == option.selected_value %}is-selected{% endif %}"
                         {% if is_option_with_color_swatch %}
                           data-background-color="{{ value | split: ' ' | last | handle }}"
                           data-background-image="{{ value | handle | append: '.png' | asset_url }}"
                         {% endif %}
                         data-option-position="{{ option.position }}"
                         data-option-value="{{ value | escape }}">
                      <div class="VariantSelector__ImageWrapper AspectRatio AspectRatio--withFallback" style="max-width: {{ variant_image.width }}px; padding-bottom: {{ 100.0 | divided_by: variant_image.aspect_ratio }}%; --aspect-ratio: {{ variant_image.aspect_ratio }}">
                        {%- include 'image-size', sizes: '200,400,600,800', image: variant_image -%}
                        {%- assign image_url = variant_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                        <img class="VariantSelector__Image Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ variant_image.alt | escape }}">
                        <span class="Image__Loader"></span>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>

                <div class="VariantSelector__Info">
                  <div class="VariantSelector__ChoiceList">
                    {%- for value in option.values -%}
                      {%- assign available_prices_for_option_value = '' -%}

                      {%- for variant in product.variants -%}
                        {%- if variant[option_index] == value -%}
                          {%- assign available_prices_for_option_value = available_prices_for_option_value | append: variant.price | append: ',' -%}
                        {%- endif -%}
                      {%- endfor -%}

                      {%- assign available_prices_for_option_value = available_prices_for_option_value | split: ',' | compact | uniq | sort -%}

                      <div class="VariantSelector__Choice {% if value == option.selected_value %}is-selected{% endif %}">
                        <div class="VariantSelector__ChoiceColor">
                          {%- if is_option_with_color_swatch -%}
                            {%- assign downcase_value = value | downcase -%}
                            <span class="VariantSelector__ColorSwatch {% if downcase_value == 'white' %}VariantSelector__ColorSwatch--white{% endif %}" style="background-color: {{ value | replace: ' ', '' }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></span>
                          {%- endif -%}

                          <span class="VariantSelector__ChoiceValue">{{ value }}</span>
                        </div>

                        <div class="VariantSelector__ChoicePrice">
                          {%- if available_prices_for_option_value.size > 1 -%}
                            {%- capture formatted_min_price -%}<span data-money-convertible>{{ available_prices_for_option_value.first | money_without_trailing_zeros }}</span>{%- endcapture -%}
                            {%- capture formatted_max_price -%}<span data-money-convertible>{{ available_prices_for_option_value.last | money_without_trailing_zeros }}</span>{%- endcapture -%}
                            <span class="Heading Text--subdued">{{ 'product.form.from_price_html' | t: min_price: formatted_min_price, max_price: formatted_max_price }}</span>
                          {%- else -%}
                            <span class="Heading Text--subdued" data-money-convertible>{{ available_prices_for_option_value.first | money_without_trailing_zeros }}</span>
                          {%- endif -%}
                        </div>
                      </div>
                    {%- endfor -%}
                  </div>

                  <button type="button" class="VariantSelector__Button Button Button--primary Button--full" data-action="select-variant">{{- 'product.form.select_model' | t -}}</button>
                </div>
              </div>
            {%- else -%}
              <div id="{{ popover_id }}" class="OptionSelector Popover Popover--withMinWidth" aria-hidden="true">
                <header class="Popover__Header">
                  <button type="button" class="Popover__Close Icon-Wrapper--clickable" data-action="close-popover">{% include 'icon' with 'close' %}</button>
                  <span class="Popover__Title Heading u-h4">{{ option.name | escape }}</span>
                </header>

                {% comment %}
                =================================================================================
                OAKIFY-23 Back in Stock, Link per Variant
                =================================================================================
                {% endcomment %}
                 {%- if size_label contains downcase_option -%}


                  <div class="Popover__Content">
                    <div class="Popover__ValueList Popover__Sizes" data-scrollable>
                      {%- for value in option.values -%}

                        {% comment %}
                        Assuming that Size will always be option1
                        {% endcomment %}
                        {%assign variant_available = false %}
                        {%assign variant_inventory_count = '' %}
                        {% for variant in product.variants %}
                            {% if variant.option1 == value and variant.available%}
                              {%assign variant_available = true %}
                               {% if variant_available and variant.inventory_management == "shopify" and variant.inventory_policy != "continue" %}
                                  {%assign variant_inventory_count = variant.inventory_quantity %}
                               {% endif %}
                              {%break%}
                            {%endif%}
                        {% endfor %}

                        {% comment %}
                         OAKIFY - 111
                        {% endcomment %}

                      <div>
                        <button type="button" class="Popover__Value {% if value == option.selected_value %}is-selected{% endif %} Heading Link Link--primary u-h6 {% unless variant_available %} unavailable {% endunless %}"
                                data-value="{{ value | escape }}"
                                data-option-position="{{ option.position }}"
                                {% if is_option_with_color_swatch %}
                                  data-background-color="{{ value | replace: ' ', '' }}"
                                  data-background-image="{{ value | handle | append: '.png' | asset_url }}"
                                {% endif %}
                                data-action="select-value">
                          {{- value | escape -}}
                           {% if variant_available and section.settings.show_inventory_quantity and variant_inventory_count!='' %}
                           {% if section.settings.inventory_quantity_threshold == 0 or variant_inventory_count < section.settings.inventory_quantity_threshold %}
                          <span class="dropdown-inventory-count"
                                data-value="{{ value | escape }}"
                                data-option-position="{{ option.position }}"
                                data-action="select-value">
                           {%- if section.settings.inventory_quantity_threshold == 0 -%}
                                  {{- 'product.form.inventory_quantity_count' | t: count:variant_inventory_count -}}
                                {%- else -%}
                                  {{- 'product.form.low_inventory_quantity_count' | t: count:variant_inventory_count -}}
                           {%- endif -%}
                           </span>
                           {%- endif -%}
                        {% endif %}
                        </button>

                        {% unless variant_available %}
                          <button type="button" class="BIS__Link" data-action="close-popover" aria-controls="BIS_Popover_Size_{{value}}" data-value="{{ value | escape }}">{{"product.form.notify_back_in_stock" | t }}</button>
                        {% endunless %}
                      </div>
                      {%- endfor -%}
                    </div>

                {%- else -%}

                    <div class="Popover__Content">
                    {% if product.type == 'Giftcard' %}
                    <div class="Popover__ValueList Popover__Vouchers" data-scrollable>
                    {%- else -%}
                    <div class="Popover__ValueList" data-scrollable>
                    {% endif %}
                      {%- for value in option.values -%}
                        <button type="button" class="Popover__Value {% if value == option.selected_value %}is-selected{% endif %} Heading Link Link--primary u-h6"
                                data-value="{{ value | escape }}"
                                data-option-position="{{ option.position }}"
                                {% if is_option_with_color_swatch %}
                                  data-background-color="{{ value | replace: ' ', '' }}"
                                  data-background-image="{{ value | handle | append: '.png' | asset_url }}"
                                {% endif %}
                                data-action="select-value">
                          {{- value | escape -}}
                        </button>
                      {%- endfor -%}
                    </div>

                {%- endif -%}

                  {%- assign size_chart_page_handle = settings.size_chart_page | default: 'size-chart' -%}
                  {%- assign size_chart_page = pages[size_chart_page_handle] -%}

                  {%- if size_label contains downcase_option and size_chart_page != empty -%}
                    <button type="button" class="Popover__FooterHelp Heading Link Link--primary Text--subdued u-h6" data-action="open-modal" aria-controls="modal-{{ size_chart_page.handle }}">
                      {{- 'product.form.size_chart' | t -}}
                    </button>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- endcapture -%}


        <div class="ProductForm__Option">
          {{popover_html}}
          <button type="button" class="ProductForm__Item" aria-expanded="false" aria-controls="{{ popover_id }}">
            {%- if is_option_with_color_swatch -%}
              {%- assign downcase_value = option.selected_value | downcase -%}

              <span class="ProductForm__ColorSwatch {% if downcase_value == 'white' %}ProductForm__ColorSwatch--white{% endif %}" style="background-color: {{ option.selected_value | replace: ' ', '' }}; background-image: url({{ option.selected_value | handle | append: '.png' | asset_url }})"></span>
              <span class="ProductForm__SelectedValue">{{ option.selected_value }}</span>
              <span class="ProductForm__OptionCount Text--subdued">{{ 'product.form.colors_count' | t: count: option.values.size }}</span>
            {%- else -%}
              {%- if size_label contains downcase_option -%}
              <span class="ProductForm__OptionName"><span class="ProductForm__SelectedValue">{{ "product.form.select_size" | t }}</span></span>
              {% else %}
              <span class="ProductForm__OptionName"><span class="ProductForm__SelectedValue">{{ option.selected_value }}</span></span>
              {% endif %}
            {%- endif -%}

            {%- include 'icon' with 'select-arrow' -%}
          </button>

          {%comment%}{%- assign product_popovers = product_popovers | append: popover_html -%}{%endcomment%}
        </div>
      {% comment %}
      =================================================================================
      OAKIFY-23 Back in Stock, Popover
      =================================================================================
      {% endcomment %}

      {%- if size_label contains downcase_option -%}
        {%- for value in option.values -%}
          {% comment %}
          Assuming that Size will always be option1
          {% endcomment %}
          {%assign variant_available = true %}
          {%assign variant_ref = nil %}

          {% for variant in product.variants %}
          {%assign variant_ref = variant %}
              {% if variant.option1 == value and variant.available != true%}
                {%assign variant_available = false %}
                {%break%}
              {%endif%}
          {% endfor %}

          {% comment %}
          Create Dialog for each Size, thats unavalable
          {% endcomment %}
          {% unless variant_available %}
            {%- capture bis_popover_html -%}
                {%include 'bis-popover', value: value, variant: variant_ref%}
            {%- endcapture -%}
            {%- assign product_popovers = product_popovers | append: bis_popover_html -%}
          {%- endunless -%}

        {%- endfor -%}
      {%- endif -%}

      {%- endfor -%}



      <div class="no-js ProductForm__Option">
        <div class="Select Select--primary">
          {%- include 'icon' with 'select-arrow' -%}

          <select id="product-select-{{ product.id }}" name="id" title="Variant">
            {%- for variant in product.variants -%}
              <option {% if variant == selected_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
            {%- endfor -%}
          </select>
        </div>
      </div>
    {%- else -%}
      <input type="hidden" name="id" data-sku="{{ selected_variant.sku }}" value="{{ selected_variant.id }}">
    {%- endunless -%}

    {%- if section.settings.show_quantity_selector -%}
      <div class="ProductForm__QuantitySelector">
        <div class="QuantitySelector QuantitySelector--large">
          {%- assign quantity_minus_one = line_item.quantity | minus: 1 -%}

          <span class="QuantitySelector__Button Link Link--secondary" data-action="decrease-quantity">{% include 'icon' with 'minus' %}</span>
          <input type="text" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" name="quantity" value="1">
          <span class="QuantitySelector__Button Link Link--secondary" data-action="increase-quantity">{% include 'icon' with 'plus' %}</span>
        </div>
      </div>
    {%- else -%}
      <input type="hidden" name="quantity" value="1">
    {%- endif -%}

    {% comment %}
      Added a wrapping div with display none, because implementing it in Select option -- removing this breaks theme.min.js
    {% endcomment %}

    {%- if section.settings.show_inventory_quantity -%}
      {%- assign hide_inventory_quantity_by_default = false -%}

      {%- if selected_variant.inventory_management == blank or selected_variant.inventory_quantity <= 0 -%}
        {%- assign hide_inventory_quantity_by_default = true -%}
      {%- endif -%}

      {%- if section.settings.inventory_quantity_threshold != 0 and selected_variant.inventory_quantity > section.settings.inventory_quantity_threshold -%}
        {%- assign hide_inventory_quantity_by_default = true -%}
      {%- endif -%}
      <div style="display:none;">
      <p class="ProductForm__Inventory Text--subdued" {% if hide_inventory_quantity_by_default %}style="display: none"{% endif %}>
        {%- if section.settings.inventory_quantity_threshold == 0 -%}
          {{- 'product.form.inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
        {%- else -%}
          {{- 'product.form.low_inventory_quantity_count' | t: count: selected_variant.inventory_quantity -}}
        {%- endif -%}
      </p>
      </div>
    {%- endif -%}
      {% comment %} OAKIFY-264 Integrate Truefit into PDP - Div for the snippet {% endcomment %}
      {% comment %} TODO Add logic for data Locale Only EN/DEV/DE, SE is not included {% endcomment %}

      {% comment %}
      <div class='tfc-fitrec-product' id='{{ product.id }}' {% if customer %} data-userid='{{ customer.email | md5 }}'{% else %}data-userid=''{% endif %} data-locale="de_DE"></div>
      {% endcomment %}
    {%- if shop.permanent_domain contains 'de-ivy-oak' -%}
      {% if customer %}
        <div class='tfc-fitrec-product' id='{{ product.id }}' data-userid='{{ customer.email | md5 }}' data-locale="de_DE"></div>
      {% else %}
        <div class='tfc-fitrec-product' id='{{ product.id }}' data-userid='' data-locale="de_DE"></div>
      {% endif %}
    {%- elsif shop.permanent_domain contains 'en-ivy-oak' or shop.permanent_domain contains 'ivy-oak-de' -%}
      {% comment %} Only EN and DEV Shop {% endcomment %}
      {% if customer %}
        <div class='tfc-fitrec-product' id='{{ product.id }}' data-userid='{{ customer.email | md5 }}' data-locale="en_EU"></div>
      {% else %}
        <div class='tfc-fitrec-product' id='{{ product.id }}' data-userid='' data-locale="en_EU"></div>
      {% endif %}
    {%- endif -%}
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  ADD TO CART BUTTON
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
  {% comment %}OAKIFY-293 Allow to put "coming soon items" in back in stock {% endcomment %}
  {% assign found_tag_with_label = false %}
  {%- for tag in product.tags -%}
    {%- if tag contains '__label' -%}
      {% capture tag_with_label %}{{ tag | split: '__label:' | last }}{% endcapture %}
      {% assign found_tag_with_label = true %}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {% comment %} OAKIFY-72 CREATE THE OVERLAY DIV {% endcomment %}
  {% if selected_variant.select_size %}
  {% comment %} I dont know how to make negative if, XD {% endcomment %}
  {% else %}
  <div class="overAddCart" onclick="eshop.openSizeSelector()">
  {% endif %}
{% comment %} OAKIFY-280 Add to cart button black{% endcomment %}
<button type="submit" style="color: #fff; border-color: #1c1b1b; background-color: #1c1b1b" class="ProductForm__AddToCart CustomInitState Button {% if selected_variant.available and section.settings.show_payment_button == false %}Button--primary{% else %}Button--secondary{% endif %} Button--full" {% if selected_variant.available %}data-action="add-to-cart"{% else %}{% endif %} disabled="disabled">
    {%- if selected_variant.available -%}
      <span>{% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t }}{% else %}{{ 'product.form.add_to_cart' | t }}{% endif %}</span>
    {%- else -%}
      {% if found_tag_with_label %}
        {{ tag_with_label }}
      {% else %}
        {{- 'product.form.sold_out' | t -}}
      {% endif %}
    {%- endif -%}
  </button>

  {% if selected_variant.select_size %}
  {% comment %} I dont know how to make negative if, XD {% endcomment %}
  {% else %}
  </div>
  {% endif %}

  {% if product.type != 'Giftcard' %}
    <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}" class="hidden-below-pocket"></div>
  {% endif %}

  {%- if section.settings.show_payment_button -%}
    {{ form | payment_button }}
  {%- endif -%}
{%- endform -%}



  {%- capture product_modals -%}
  {%- if size_chart_page != empty -%}
  {%- comment -%}If we have a size chart we capture the modal content (it must be displayed outside the form for proper positioning){%- endcomment -%}
    <div id="modal-{{ size_chart_page.handle }}" class="Modal Modal--fullScreen Modal--pageContent destinyPage" aria-hidden="true" role="dialog" data-scrollable>
      <header class="Modal__Header">
        <h2 class="Modal__Title Heading u-h1">{{ size_chart_page.title }}</h2>
      </header>

      <div class="Modal__Content Rte">
        <div class="Container Container--extraNarrow">
          {{- size_chart_page.content -}}
        </div>
      </div>

      <button class="Modal__Close RoundButton RoundButton--large" data-animate-bottom data-action="close-modal">{% include 'icon' with 'close' %}</button>
    </div>
  {%- endif -%}
{% comment %} OAKIFY-240 PDP 2.0 {% endcomment %}
{% comment %}     <div id="modal-product-info" class="Modal Modal--fullScreen hidden-lap-and-up" aria-hidden="true" role="dialog" data-scrollable>
      <button class="Modal__Close Modal__Close--right" data-animate-bottom data-action="close-modal">{% include 'icon' with 'close' %}</button>

      <div class="Modal__Content Rte">
           <div class="ProductMeta__Description Rte">
              {%- include 'shortcode' load:  product.description -%} {% endcomment %}
              {%comment%} Prio runter
              <div class="Collapsible">
                <button class="Collapsible__Button Heading u-h6" data-action="open-modal" aria-controls="modal-size-guide">
                  {{"product.form.size_chart" | t }} <span class="Collapsible__Plus"></span>
                </button>
              </div>{%endcomment%}
{% comment %}             </div>
      </div>
    </div> {% endcomment %}
  {%- endcapture -%}


{%- if section.settings.show_payment_button and selected_variant.available == false -%}
  <style>
    #shopify-section-{{ section.id }} .shopify-payment-button {
      display: none;
    }
  </style>
{%- endif -%}

{% comment %}
------------------------------------------------------------------------------
Product Data. This must be outputted for all products (including home page).

IMPORTANT: THIS CODE IS VITAL. DO NOT EDIT IT NOT REMOVE IT. MAKE SURE TO KEEP
THE EXACT SAME ATTRIBUTES.
------------------------------------------------------------------------------
{% endcomment %}

<script type="application/json" data-product-json>
  {
    "product": {{ product | json }},
    "selected_variant_id": {{ selected_variant.id }}
    {%- if section.settings.show_inventory_quantity -%}
      ,"inventories": {
        {%- for variant in product.variants -%}
          {%- assign inventory_message = '' -%}

          {%- if section.settings.inventory_quantity_threshold == 0 -%}
            {%- capture inventory_message -%}{{- 'product.form.inventory_quantity_count' | t: count: variant.inventory_quantity -}}{%- endcapture -%}
          {%- else -%}
            {%- capture inventory_message -%}{{- 'product.form.low_inventory_quantity_count' | t: count: variant.inventory_quantity -}}{%- endcapture -%}
          {%- endif -%}

          "{{ variant.id }}": {
            "inventory_management": {{ variant.inventory_management | json }},
            "inventory_policy": {{ variant.inventory_policy | json }},
            "inventory_quantity": {{ variant.inventory_quantity | json }},
            "inventory_message": {{ inventory_message | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      }
    {%- endif -%}
  }
</script>
