{%- assign has_section_separator = false -%}

{%- for block in section.blocks -%}
  {%- if block.type == 'separator' -%}
    {%- assign has_section_separator = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- capture jobs_content -%}
  <div class="job Rte">
    {% include 'shortcode' load:  page.content %}
  </div>
{%- endcapture -%}

<section data-section-type="jobs" data-section-id="{{ section.id }}">
  <div class="Container">
    <div class="PageContent">
        <div class="PageLayout">
          <div class="PageLayout__Section PageLayout__Section--secondary JobLinks PageLayout__Section--sticky hidden-phone">
            <ol class="FaqSummary">
              {%- assign faq_separator_count = 0 -%}

              {%- for page in linklists['jobs'].links -%}
              
                  <li class="FaqSummary__Item {% if page.active %} is-active {%endif%}">
                    <a href="{{ page.url }}" class="FaqSummary__Link" data-offset="80">
                      <span class="FaqSummary__LinkLabel">{{ page.title | escape }}</span>
                    </a>
                  </li>
              {%- endfor -%}
            </ol>
          </div>
           <div class="PageLayout__Section PageLayout__Section--secondary JobLinks hidden-tablet-and-up">
            <div class="Collapsible">
              <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">{{'general.jobs.all_jobs' | t }}<span class="Collapsible__Plus"></span></button>
              <ol class="FaqSummary Collapsible__Inner">
                {%- assign faq_separator_count = 0 -%}

                {%- for page in linklists['jobs'].links -%}
                
                    <li class="FaqSummary__Item {% if page.active %} is-active {%endif%}">
                      <a href="{{ page.url }}" class="FaqSummary__Link" data-offset="80">
                        <span class="FaqSummary__LinkLabel">{{ page.title | escape }}</span>
                      </a>
                    </li>
                {%- endfor -%}
              </ol>
              
            </div>
          </div>

          <div class="PageLayout__Section">
            {{- jobs_content -}}
          </div>
        </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ",
  "settings": [],
  "blocks": [
    {
      "type": "separator",
      "name": "Section separator",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Default"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "separator",
        "settings": {
          "title": "Shipping"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Do you ship overseas?",
          "answer": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "How long will it take to get my order?",
          "answer": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "What shipping carriers do you use?",
          "answer": "<p>We use all major carriers, and local courier partners. You’ll be asked to select a delivery method during checkout.</p>"
        }
      },
      {
        "type": "separator",
        "settings": {
          "title": "Product"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Can I return my product?",
          "answer": "<p>We always aim for make sure our customers love our products, but if you do need to return an order, we’re happy to help. Just email us directly and we’ll take you through the process.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Can I get my product personalized?",
          "answer": "<p>It depends on the creator and the product. All options are outlined on the product page, so look out for customization options there.</p>"
        }
      },
      {
        "type": "separator",
        "settings": {
          "title": "Other"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Any question?",
          "answer": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
        }
      }
    ]
  }
}
{% endschema %}