{% for block in section.blocks %}
  {% case block.type %}

    {% when 'heading' %}
      <section class="Section {% unless block.settings.image %}Section--spacingNormal{% endunless %}">
         <div class="FeatureText__ContentWrapper Flex {{ block.settings.text_position }}">
          <div class="FeatureText__Content" style="text-align: {{ block.settings.text_orientation }}; max-width:{{block.settings.text_max_width}}%">
            {%- if block.settings.title != blank or block.settings.content != blank -%}
              <header class="SectionHeader">
                {%- if block.settings.title != blank -%}
                  <h2 class="SectionHeader__Heading Heading u-h1">{{ block.settings.title }}</h2>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="SectionHeader__Description Rte">
                    {{ block.settings.content }}
                  </div>
                {%- endif -%}

                {%- if block.settings.link_text != blank -%}
                  <a href="{{ block.settings.link_url }}" class="Link Link--underline">{{ block.settings.link_text | escape }}</a>
                {%- endif -%}
              </header>
            {%- endif -%}
          </div>
        </div>
      </section>
    {% when 'text_with_image' %}

    {% assign spacing = block.settings.text_image_spacing%}
    {% assign spacing_half = spacing | divided_by: 2%}

    {% assign text_width = block.settings.text_image_ratio | minus: spacing_half %}
    {% assign image_width = 100 | minus: block.settings.text_image_ratio | minus: spacing_half %}

    <section class="Section {% unless block.settings.image %}Section--spacingNormal{% endunless %}">
  {%- capture block_content -%}

    {%- if block.settings.title != blank and block.settings.content == blank -%}
      <div class="FeatureText__ContentWrapper h1-middle-text" style="width: {{text_width}}%">
    {%- else -%}
      <div class="FeatureText__ContentWrapper" style="width: {{text_width}}%">
    {%- endif -%}



      <div class="FeatureText__Content">
        {%- if block.settings.title != blank or block.settings.content != blank -%}
          <header class="SectionHeader">

            {%- if block.settings.title != blank and block.settings.content == blank -%}
              <h2 class="SectionHeader__Heading Heading u-h1-middle">{{ block.settings.title | escape }}</h2>
            {%- elsif block.settings.title != blank -%}
              <h2 class="SectionHeader__Heading Heading u-h1">{{ block.settings.title | escape }}</h2>
            {%- endif -%}

            {%- if block.settings.content != blank -%}
              <div class="SectionHeader__Description Rte">
                {{ block.settings.content }}
              </div>
            {%- endif -%}

            {%- if block.settings.link_text != blank -%}
              <a href="{{ block.settings.link_url }}" class="Link Link--underline">{{ block.settings.link_text | escape }}</a>
            {%- endif -%}
          </header>
        {%- endif -%}
      </div>
    </div>
  {%- endcapture -%}

  {%- capture block_image -%}
    {%- if block.settings.image != blank -%}
      <div class="FeatureText__ImageWrapper" style="width: {{image_width}}%">
        {%- include 'image-size', sizes: '400,600,700,800,900,1000,1200', image: block.settings.image -%}

        <div class="AspectRatio" style="max-width: {{ block.settings.image.width }}px; --aspect-ratio: {{ block.settings.image.aspect_ratio }}">
          {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="Image--lazyLoad Image--slide{{ block.settings.image_position | capitalize }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}">

          <noscript>
            <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt | escape }}">
          </noscript>
        </div>
        {% if block.settings.image_subtitle != blank %}
          <div class="ImageSubtitle">
            {{block.settings.image_subtitle}}
          </div>
        {% endif %}
      </div>
    {%- endif -%}
  {%- endcapture -%}

  {%- capture spacer -%}
    {%- if spacing > 0 -%}
      <div class="Spacer hidden-phone" style="width: {{spacing}}%"></div>
    {%- endif -%}
  {%- endcapture -%}

  <div class="FeatureText {% if block.settings.image != blank %}FeatureText--withImage FeatureText--image{{ block.settings.image_position | capitalize }}{% endif %}">
    {%- if block.settings.image_position == 'left' -%}
      {{- block_image -}}
      {{- spacer -}}
      {{- block_content -}}
    {%- else -%}
      {{- block_content -}}
      {{- spacer -}}
      {{- block_image -}}
    {%- endif -%}
  </div>
</section>

    {% when 'text_with_video' %}

    {% assign spacing = block.settings.text_video_spacing%}
    {% assign spacing_half = spacing | divided_by: 2%}

    {% assign text_width = block.settings.text_video_ratio | minus: spacing_half %}
    {% assign video_width = 100 | minus: block.settings.text_video_ratio | minus: spacing_half %}

    <section class="Section {% unless block.settings.image %}Section--spacingNormal{% endunless %}">
  {%- capture block_content -%}

    {%- if block.settings.title != blank -%}
      <div class="FeatureText__ContentWrapper h1-middle-text" style="width: {{text_width}}%">
      <div class="FeatureText__Content">
          <header class="SectionHeader">
              <h2 class="SectionHeader__Heading Heading u-h1-middle">{{ block.settings.title }}</h2>          
          </header>    
      </div>
    </div>
    {%- endif -%}
  {%- endcapture -%}

  {%- capture block_video -%}
    {%- if block.settings.video_url.id != blank -%}
      <div class="FeatureText__ImageWrapper" style="width: {{video_width}}%">
      
        <div class="VideoWrapper" >
            <iframe class="Image--lazyLoad" data-src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=0" style="width:100%;height:100%;" frameborder="0" width="100%" allow="autoplay" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

      </div>
    {%- endif -%}
  {%- endcapture -%}

  {%- capture spacer -%}
    {%- if spacing > 0 -%}
      <div class="Spacer hidden-phone" style="width: {{spacing}}%"></div>
    {%- endif -%}
  {%- endcapture -%}

  <div class="FeatureText {% if block.settings.video_url.id != blank %}FeatureText--withImage FeatureText--image{{ block.settings.video_position | capitalize }}{% endif %}">
    {%- if block.settings.video_position == 'left' -%}
      {{- block_video -}}
      {{- spacer -}}
      {{- block_content -}}
    {%- else -%}
      {{- block_content -}}
      {{- spacer -}}
      {{- block_video -}}
    {%- endif -%}
  </div>
</section>

  {%endcase%}
{%endfor%}  

{% schema %}
{
  "name": "About",
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Heading",
          "default": "Default"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Text",
          "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_orientation",
          "label": "Text orientation",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ],
          "default": "center"
        },
        {
          "type": "range",
          "id": "text_max_width",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "Section Max Width",
          "default": 100
        }
      ]
    },
    {
      "type": "text_with_image",
      "name": "Text with Image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1200px png recommended"
        },
        {
          "type": "richtext",
          "id": "image_subtitle",
          "label": "Image Subtitle"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "range",
          "id": "text_image_ratio",
          "min": 20,
          "max": 80,
          "step": 5,
          "unit": "%",
          "label": "Text Image Ratio",
          "default": 50
        },
        {
          "type": "range",
          "id": "text_image_spacing",
          "min": 0,
          "max": 20,
          "step": 5,
          "unit": "%",
          "label": "Text Image Spacing",
          "default": 0
        },
        {
          "type": "html",
          "id": "content",
          "label": "Text (HTML)",
          "default": "<p>Add your own custom content to give more information about your store, availability details...</p>"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "text_with_video",
      "name": "Text with Video",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "video_url",
          "accept": [
            "vimeo"
          ],
          "id": "video_url",
          "label": "Video URL",
          "default": "https://vimeo.com/288311567"
        },
        {
          "type": "select",
          "id": "video_position",
          "label": "Video position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "range",
          "id": "text_video_ratio",
          "min": 20,
          "max": 80,
          "step": 5,
          "unit": "%",
          "label": "Text Video Ratio",
          "default": 50
        },
        {
          "type": "range",
          "id": "text_video_spacing",
          "min": 0,
          "max": 20,
          "step": 5,
          "unit": "%",
          "label": "Text Video Spacing",
          "default": 0
        }
      ]
    }
  ]
}
{% endschema %}